.menu {
	width: 320px;
	height: 100vh;
	display: flex;
	position: fixed;
	z-index: 2;
	top: 0px;
	transform: translateX(-400px);
	flex-direction: column;
	min-height: 100vh;
	scrollbar-width: none;
	background-color: $white;
	transition: transform 0.3s;

	@media (min-width: 320px) {
		box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

	@media (min-width: 1440px) {
		box-shadow: none;
		transform: translateX(0px);
		position: sticky;
  }
}

.menu__header {
	padding: 30px 24px 0 24px;
	margin-bottom: 41px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu__main {
	background-color: $white;
	padding: 0 0 24px 24px;
	margin-bottom: auto;
}

.menu__footer {
	background-color: $white;
	padding-left: 24px;
}

.menu--animation-open {
	transform: translateX(0px);
}