.menu-footer__action-buttons {
	margin-bottom: 16px;
}

.menu-footer__languages {
	margin-bottom: 32px;
}

.menu-footer__contacts {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	row-gap: 12px;
}