.call {
	padding: 24px 16px 0 16px;
	width: 320px;
	height: 100vh;
	display: flex;
	position: fixed;
	z-index: 3;
	top: 0px;
	right: -440px;
	flex-direction: column;
	min-height: 100vh;
	scrollbar-width: none;
	background-color: $white;
	transition: right 0.2s;

	@media (min-width: 320px) {
		box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

	@media (min-width: 768px) {
		padding: 40px 32px 0 32px;
  }
}

.call__header {
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 40px;
}

.call--animation-open {
	width: 320px;
	right: 0px;

	@media (min-width: 768px) {
		width: 440px;
		right: 0px;
  }
}