.button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.button--purple {
	background: $base-purble;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;

	&:hover {
		background-color: $dark-purple;
		color: $base-purble;
	}

	&:hover .svg--white {
		fill: $base-purble;
		transform: scale(1.1);
	}
}

.button--white {
	background: $white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;

	&:hover .svg--purple {
		transform: scale(1.1);
	}
}