.features-list {
	margin: 0 0 10px 0;
	padding: 2px 16px 14px;
	display: flex;
	column-gap: 5px;
	white-space: nowrap;
	justify-content: space-between;
	align-items: center;
	overflow-x: scroll;

	@media (min-width: 768px) {
		padding: 2px 24px 14px;
  }

	@media (min-width: 1440px) {
		padding: 2px 32px;
		flex-wrap: wrap;
		justify-content: flex-start;
		row-gap: 5px;
		overflow-x: hidden;
  }
}

.features-list__button {
	font-family: "TT Lakes", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: $dark-gray;
	padding: 8px 10px;
	background-color: transparent;
	border: none;
	transition: color 0.3s;
}

.features-list__button:hover {
	cursor: pointer;
	background-color: $white;
	outline: 2px solid $base-purble;
	border-radius: 6px;
	color: $base-purble;
}

.features-list__button--active {
	background: $white;
	outline: 2px solid $blue;
	border-radius: 6px;
}

.features-list__button--active:hover {
	background: $white;
	outline: 2px solid $blue;
	border-radius: 6px;
	color: $gray;
}