@font-face {
	font-family: "TT Lakes";
	font-weight: 400;
	font-style: normal;
	src: local("TT Lakes Regular"), local("TT-Lakes-Regular"),
			url("../fonts/TTLakes-Regular/TTLakes-Regular.woff2") format("woff2"),
			url("../fonts/TTLakes-Regular/TTLakes-Regular.woff") format("woff"),
			url("../fonts/TTLakes-Regular/TTLakes-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "TT Lakes";
	font-weight: 500;
	font-style: normal;
	src: local("TT Lakes Medium"), local("TT-Lakes-Medium"),
			url("../fonts/TTLakes-Medium/TTLakes-Medium.woff2") format("woff2"),
			url("../fonts/TTLakes-Medium/TTLakes-Medium.woff") format("woff"),
			url("../fonts/TTLakes-Medium/TTLakes-Medium.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "TT Lakes";
	font-weight: 700;
	font-style: normal;
	src: local("TT Lakes Bold"), local("TT-Lakes-Bold"),
			url("../fonts/TTLakes-Bold/TTLakesCondensed-Bold.woff2") format("woff2"),
			url("../fonts/TTLakes-Bold/TTLakesCondensed-Bold.woff") format("woff"),
			url("../fonts/TTLakes-Bold/TTLakesCondensed-Bold.ttf") format("truetype");
	font-display: swap;
}