.main-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;

	@media (min-width: 1440px) {
		justify-content: space-between;
		padding-top: 30px;
  }
}

.main-header__title {
	margin: 0;
	font-size: 28px;
	font-weight: 700;
	color: #1b1c21;
	padding: 24px 0 24px 16px;

	@media (min-width: 768px) {
    padding: 24px 0 24px 24px;
  }

	@media (min-width: 1440px) {
		padding: 10px 0 10px 32px;
  }
}

.main-header__title::before {
	content: "";
	width: 4px;
	height: 40px;
	background: $blue;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	position: absolute;
	margin: -1px 0 0 -16px;

	@media (min-width: 768px) {
    margin: -1px 0 0 -24px;
  }

	@media (min-width: 1440px) {
		margin: -10px 0 0 -32px;
  }
}

.main-header__navigation-list {
	display: none;

	@media (min-width: 1440px) {
		display: flex;
		padding: 10px 0;
		margin-right: 16px;
  }
}