.navigation__list {
	padding: 19px 16px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	@media (min-width: 768px) {
    padding: 19px 24px;
  }
}

.navigation__left-column {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.navigation__right-column {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.navigation__item {
	margin-right: 16px;

	@media (min-width: 1440px) {
		display: flex;
		align-items: center;
		grid-gap: 8px;
		margin-right: 32px;
  }
}

.navigation__image {
	width: 97px;
	height: 51px;
}

.navigation__item:hover {
	cursor: pointer;
}

.navigation__divider {
	width: 2px;
	height: 32px;
	background: $gray;
	border-radius: 1px;
}

.navigation__logo {
	flex-shrink: 0;
}

.navigation__right-column .navigation__item:last-child {
	margin: 0;
}

.navigation__button {
	width: 40px;
	height: 40px;
}

.navigation__left-column .navigation__divider {
	display: none;

	@media (min-width: 768px) {
    display: block;
  }
}

.navigation__button--call {
	display: none;

	@media (min-width: 768px) {
    display: flex;
  }
}

.navigation__button--chat {
	display: none;

	@media (min-width: 768px) {
    display: flex;
  }
}

.navigation__button--profile {
	display: none;

	@media (min-width: 768px) {
    display: flex;
  }
}

.navigation__button--request {
	@media (min-width: 1440px) {
	display: flex;
	align-items: center;
	justify-content: center;
	}
}

.navigation__button--status {
	@media (min-width: 1440px) {
	display: flex;
	align-items: center;
	justify-content: center;
	}
}