.prices-info__content {
	@media (max-width: 768px) {
		padding:0 16px 57px 16px;
	}

	@media (min-width: 768px) {
		padding-bottom: 80px;
  }

	@media (min-width: 1440px) {
		padding-bottom: 83px;
  }
}

.price-info__description {
	max-width: 421px;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 20px;
	color: $black;
}

.price-info__commercial {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;

	&:hover .price-info__commercial-text {
		color: $base-purble;
	}

	&:hover .svg--purple {
		fill: $dark-purple;
	}

	
}

.price-info__commercial-text {
	transition: color 0.3s;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	color: $black;
}