.section-title {
	padding: 16px;
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: $dark-gray;
	font-weight: 400;
	border-top: 1px solid $light-blue;
	background: linear-gradient(135deg, #F8F8F8 0%, $white 98.61%);

	@media (min-width: 768px) {
		padding: 16px 24px;
  }

	@media (min-width: 1120px) {
		padding: 16px 32px;
  }
}