@import 'style/fonts';
@import 'style/var';
@import 'style/reset';
@import 'style/swiper';
@import 'style/swiper-slide';
@import 'style/swiper-pagination';
@import 'style/visually-hidden';
@import 'style/hidden';
@import 'style/button';
@import 'style/svg';
@import 'style/section-title';
@import 'style/list';
@import 'style/header';
@import 'style/navigation';
@import 'style/main';
@import 'style/main-header';
@import 'style/content-wrapper';
@import 'style/features-list';
@import 'style/brands';
@import 'style/tech';
@import 'style/prices';
@import 'style/table';
@import 'style/prices-info';
@import 'style/footer';
@import 'style/footer-list';
@import 'style/menu/menu-container';
@import 'style/menu/menu';
@import 'style/menu/menu-header';
@import 'style/menu/menu-main';
@import 'style/menu/menu-footer';
@import 'style/menu/action-buttons';
@import 'style/menu/contacts';
@import 'style/menu/languages';
@import 'style/feedback/feedback-container';
@import 'style/feedback/feedback';
@import 'style/feedback/feedback-main';
@import 'style/feedback/feedback-header';
@import 'style/feedback/feedback-form';
@import 'style/call/call-container';
@import 'style/call/call';
@import 'style/call/call-main';
@import 'style/call/call-header';
@import 'style/call/call-form';

body {
	min-width: 320px;
  font-family: "TT Lakes", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  background-color: #f8f8f8;

	@media (min-width: 1440px) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
  }
}